
    <form method="GET" action="/artist-search" >

    <label for="searchString">The Beatles</label>
        <input type="text" name="artist"/>

        <button type="submit">Search for an Artist</button>
    </form>
